.root {
    position: relative;
}
.root label {
    position: relative;
    display: block;
    font-size: 1.4rem;
    line-height: 20px;
    padding-left: 50px;
    cursor: pointer;
}
.root label::before {
    content: '';
    width: 40px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid #858585;
    background-color: transparent;
    border-radius: 15px;
    z-index: 3;
    transition-property: border-color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in;
}

.root label::after {
    content: '';
    z-index: 4;
    background-color: #858585;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 4px;
    position: absolute;
    transition-property: transform, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in;
}

.root:hover label::before {
    border-color: #333;
}

.root:hover label::after {
    background-color: #333;
}

.root input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 10px;
    margin: 0;
    opacity: 0.01;
}

.root.isChecked label::before,
.root.isChecked:hover label::before {
    border-color: #465efc;
    background-color: #465efc;
}

.root.isChecked label::after {
    transform: translateX(21px);
}
.root.isChecked label::after,
.root.isChecked:hover label::after {
    background-color: #fff;
}