.root {
    padding-top: 58px;
}

.header {
    padding: 15px;
    background-color: #f1f3f6;
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    font-size: 1.4rem;
}

.header::after {
    content: '';
    display: table;
    clear: both;
}

.count {
    float: left;
    margin: 0 15px 0 0;
    line-height: 28px;
}

.tip {
    float: right;
    margin: 0;
    line-height: 28px;
}

.emptyList {
    height: calc(100vh - 140px);
    text-align: center;
    font-size: 2.4rem;
    line-height: 40px;
    margin: 0;
}

.list {
    padding: 30px 30px 0;
    min-height: calc(100vh - 140px);
    margin: 0 auto;
    max-width: 1140px;
    list-style: none;
    font-size: 0;
}
.list > li {
    display: inline-block;
    vertical-align: top;
    width: calc(33.3333% - 20px);
    height: 300px;
    margin-bottom: 30px;
    position: relative;
}

.list > li:nth-of-type(3n-1) {
    margin-left: 30px;
    margin-right: 30px;
}

.image {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #f1f3f6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.image:hover > p {
    padding-bottom: 30px;
}

.image > p {
    margin: 0;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    font-size: 1.4rem;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    transition: padding-bottom .3s ease-in;
}

.image.isUploading,
.emptyList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image.isUploading strong {
    font-size: 1.8rem;
    line-height: 24px;
    margin: 0 0 15px;
}

.image.isUploading span {
    font-size: 1.4rem;
    line-height: 20px;
}
.footer {
    text-align: center;
    padding: 0 30px 15px;
}
.footer > p {
    font-size: 1.2rem;
    line-height: 16px;
    margin: 0;
    color: #788195;
}

.footer a {
    text-decoration: none;
    color: currentColor;
}

.footer a:hover {
    text-decoration: underline;
}