.root label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.4rem;
    line-height: 14px;
}

.root input {
    width: 100%;
    font-size: 1.4rem;
    line-height: 28px;
    padding: 0 8px;
    border: 1px solid #666;
    border-radius: 2px;
}