.info {
    margin: 0;
    padding: 10px 0 0;
}

.info a {
    color: currentColor;
}
.info a:hover {
    text-decoration: none;
}

.info dt {
    font-weight: 500;
    margin-bottom: 5px;
}

.info dd {
    margin: 0 0 10px;
    word-break: break-all;
}