.root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: #0078d7;
    color: #fff;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 0.5px;
}

.root h1 {
    float: left;
    margin: 15px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 18px;
}

.root::after {
    content: '';
    display: table;
    clear: both;
}

.backToGallery {
    text-decoration: none;
    float: left;
    display: block;
    color: #fff;
    margin: 11px 0 0 15px;
    padding: 5px 20px;
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: ease-in;
}

.backToGallery:hover {
    background-color: #faf9f8;
    color: #333;
}