.root > p {
    margin: 10px 0 0;
}

.formHolder {
    padding: 10px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.formHolder > div {
    width: 100%;
}

.formHolder button {
    margin-left: 5px;
}

.root dt {
    font-weight: 500;
    margin-bottom: 5px;
}

.root dd {
    margin: 0 0 10px;
    word-break: break-all;
}