.root {
    width: 320px;
    float: left;
    padding: 20px 14px;
    height: calc(100vh - 48px);
    background-color: #faf9f8;
    border-right: 1px solid #edebe9;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 0.5px 1px 0px;
}

.header > h2 {
    float: left;
    font-size: 1.8rem;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
}

.header {
    margin: 0 0 20px;
}

.header::after {
    content: '';
    display: table;
    clear: both;
}

.header > button {
    float: right;
}

.root > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.root > ul > li {
    font-size: 1.4rem;
    line-height: 18px;
    margin: 20px 0;
}

.root > ul > li > strong {
    font-weight: 500;
    display: block;
}