.root {
    position: relative;
    float: left;
    width: calc(100% - 320px);
    height: calc(100vh - 48px);
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.root.event > p {
    line-height: 24px;
    margin: 0;
}
.root.loading > p {
    padding: 15px 0 0;
    position: relative;
    height: 27px;
}
.loadingDot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 3px;
    background: #303131;
    animation: loadingDotAnimation 1.3s linear infinite;
}
.loadingDot:nth-child(2) {
    animation-delay: -1.1s;
}
.loadingDot:nth-child(3) {
    animation-delay: -0.9s;
}

.root.error strong {
    color: #e5674f;
    display: block;
}

.root.loaded > img {
    display: block;
    margin: 0 auto;
}

.root.loaded > canvas {
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
}

@keyframes loadingDotAnimation {
    0%, 60%, 100% {
        transform: none;
    }
    30% {
        transform: translateY(-15px);
    }
}