.root {
    list-style: none;
    margin: 0;
    padding: 10px 0 0;
}

.root > li {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border: 1px dashed transparent;
    border-radius: 5px;
    padding: 10px;
    transition-property: color, border;
    transition-duration: .3s;
    transition-timing-function: ease-in;
}
.root > li.active,
.root > li:hover {
    color: #0078d7;
}
.root > li.active {
    border-color: #0078d7;
}

.root svg {
    width: 32px;
    height: 32px;
    display: block;
}