*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 768px;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  padding-top: 48px;
  font-size: 1.6rem;
}

button, input { 
  font-family: "Ubuntu", sans-serif;
}

strong {
  font-weight: 500;
}

button, 
.button {
  white-space: nowrap;
  padding: 5px 20px;
  transition-property: color, background-color, border;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  background-color: #0078d7;
  color: #fff;
  font-size: 1.4rem;
  line-height: 18px;
  letter-spacing: 0.5px;
  cursor: pointer;
  border: 1px solid #0078d7;
}

button:hover,
.button:hover {
  background-color: #faf9f8;
  border-color: #666;
  color: #333;
}