.root {
    display: inline-block;
    position: relative;
}

.root.disabled > label {
    opacity: 0.5;
    cursor: not-allowed;
}

.root > label {
    color: #fff;
    outline: none;
    border: 0;
    font-size: 1.4rem;
    line-height: 18px;
    display: inline-block;
    letter-spacing: 0.5px;
    padding: 5px 20px;
    background-color: #0078d7;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.root > input[type="file"] {
    position: absolute;
    opacity: 0.01;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.root > label:hover {
    background-color: #005a9e;
}

.root > label:focus {
    background-color: #0078d7;
}
