.root {
    height: calc(100vh - 48px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.root h2 {
    font-size: 9rem;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: 2px;
    margin: 0 0 20px;
}

.root p {
    margin: 0;
    line-height: 24px;
}

.root a {
    text-decoration: underline;
    color: currentColor;
}