.root {
    padding: 5px 0 0;
    list-style: none;
}

.root > li {
    padding: 5px 0 0;
}

.root > li p {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 15px;
    height: 15px;
    outline: 1px solid #666;
    border: 2px solid #fff; 
}